Q1. Python program to print all negative numbers in a range

In [ ]:
start = int(input("Enter the strating range: "))
end = int(input("Enter the ending range: "))

for i in range(start , end+1):
  if i<=0:
    print("the negative numbers in given range:" ,i )

Q2. Remove multiple elements from a list in Python

In [ ]:
#Removing even numbers from a list


list = [1,2,3,4,5,6,7,8,9]

for i in list:
  if i%2==0:
    print(i)

In [ ]:
#Removing the odd elements in list

list = [1,2,3,4,5,6,7,8,9]

for i in list:
  if i%2!=0:
    print(i)

Q3. write a Python program to Remove empty List from List

In [ ]:
list_1 =[1,2,3,4,[],6,[],8]

print("the first list is:", list_1)

list_2 = [i for i in list_1 if i != []]

print("the final list is:", list_2)

Q4. write a Python program to Cloning or Copying a list

In [ ]:
list_1 = [1,2,3,4,5,6,12,48,56]

coppied_list = list(list_1)
print("the original list is:",list_1)

print("the coppied or cloned list is:", coppied_list)

Q5. write a Python program to Count occurrences of an element in a list

In [ ]:
import pandas as pd

sample_list = [1,2,3,3,4,5,5,6,9,8,5,1]
count = pd.Series(sample_list).value_counts()
print(count[5])

Q6. write a Python program to Remove empty tuples from a list

In [ ]:
def Remove(tuples):
	tuples = [t for t in tuples if t]
	return tuples

tuples = [(), ('5','15','8'), (), ('Ram', 'sita'), 
          ('6', '2', '45'), ('1.1','3'),()] 
print(Remove(tuples))

Q7. write a Python program to Program to print duplicates from a list of integers

In [ ]:
list_1 = [1,23,2,3,4,5,6,5,6,5,6,7,8,8,9,2]
 
new = []  
 
for a in list_1:
  n = list_1.count(a)
  if n > 1:
    if new.count(a) == 0:
      new.append(a)
 
     
print(new)

Q8. write a Python program to find Cumulative sum of a list

In [ ]:
def cumSum(s):
   sum=0
   cum_list=[]
   for i in s:
      sum=sum+i
      cum_list.append(sum)
   return cum_list

a=[1,2,3,4,5,6,7,8,9]
print(cumSum(a))

Q9. write a python program to find the sum of number digit in list

In [ ]:
list_1 = [11, 23, 41, 62, 89, 0, 10]
print("The original list is : ")
print(list_1)
new_list = []
for elem in list_1:
   sum_val = 0
   for digit in str(elem):
      sum_val += int(digit)
   new_list.append(sum_val)
print ("The final list of sum of number digit : " )
print(new_list)

Q10. write a Python program to Break a list into chunks of size N

In [ ]:


import numpy as np
list_1 = ["Omkar",5,4,3,"Aryan",1,"ineuron",2,7]

print(np.array_split(list_1, 4))

In [ ]:
list_1 = ["Omkar",5,4,3,"Aryan",1,"ineuron",2,7]

def chunks(l, n):
	for i in range(0, len(l), n):
		yield l[i:i + n]
n = 2

x = list(chunks(list_1, n))
print (x)

Q11. write a Python program to Sort the values of first list using second list

In [ ]:
def sort_list(list_1, list_2):

	zipped_pairs = zip(list_2, list_1)

	z = [x for _, x in sorted(zipped_pairs)]
	
	return z
list_1 =['a','f','r','t','y','a','b','c','u','i','o','p']
list_2 =[0,0,1,2,3,3,2,2,0,0,4,4]
print("The sorted list using 2nd list is: ",sort_list(list_1,list_2))