In [ ]:
#Q1.Pyhton-Join Tuples if similar intial element
list_1=[(5,6),(5,7),(6,8),(6,10),(7,13),(5,9)]
print("The original list is:",list_1)
var=[]

for sub in list_1:
    if var and var[-1][0]== sub[0]:
        var[-1].extend(sub[1:])
    else:
        var.append([ele for ele in sub])
var= list(map(tuple,var))
print("The new list is:",var)

Q2.Pyhton-Extract digits from tuple list

In [ ]:
import re
list_1=[(12,45),(54,96)]
print("The original list is:",list_1)
var_1=re.sub(r'[\[\]\(\),]','',list_1)
res=[int(i) for i in set(temp)]
print("The new list is:",res)

In [13]:
#Q3.Pyhton-All pair combinations of 2 tuples
from itertools import chain,product
t_1=(1,2)
t_2=(3,4)
res=list(chain(product(t_1,t_2,product(t_2,t_1))))
print(res)

[(1, 3, (3, 1)), (1, 3, (3, 2)), (1, 3, (4, 1)), (1, 3, (4, 2)), (1, 4, (3, 1)), (1, 4, (3, 2)), (1, 4, (4, 1)), (1, 4, (4, 2)), (2, 3, (3, 1)), (2, 3, (3, 2)), (2, 3, (4, 1)), (2, 3, (4, 2)), (2, 4, (3, 1)), (2, 4, (3, 2)), (2, 4, (4, 1)), (2, 4, (4, 2))]

In [9]:

#Q4Pyhton-Remove tuples from lenghth k
list_1=[(5,6),(5,7),(6,8),(6,10),(7,13),(5,9)]
print("The original list is: ",list_1)
k=2
res=[a for a in list_1 if len(a)!= k]
print("The new list is:",res)

The original list is:  [(5, 6), (5, 7), (6, 8), (6, 10), (7, 13), (5, 9)]
The new list is: []

In [12]:
#Q5Sort a list of tuples by second iteam
list_1=[(5,6),(5,7),(6,8),(6,1),(7,3),(5,2)]
print("the original tuple list is ",list_1)
def Sort(list_1):
    list_1.sort(key=lambda a: a[1])
    return list_1
print("sorted tuple list is ",Sort(list_1))

the original tuple list is  [(5, 6), (5, 7), (6, 8), (6, 1), (7, 3), (5, 2)]
sorted tuple list is  [(6, 1), (5, 2), (7, 3), (5, 6), (5, 7), (6, 8)]

In [10]:
#Q5 Pyhton program to order tuple using external list
list_1=[('omkar',12),('shubham',31),('sahil',54),('rahul',2)]
print("The original list is: ",list_1)
ordered_list =['omkar','shubham','sahil','rahul']
print("The ordered list is", ordered_list)
temp=dict(list_1)
res=[(key,temp[key]) for key in ordered_list]
print("The oredered tuple list is: ", res)

The original list is:  [('omkar', 12), ('shubham', 31), ('sahil', 54), ('rahul', 2)]
The ordered list is ['omkar', 'shubham', 'sahil', 'rahul']
The oredered tuple list is:  [('omkar', 12), ('shubham', 31), ('sahil', 54), ('rahul', 2)]

Q7 Flatten tuple of list of tuple

In [3]:
tuple_1 = ([5, 6], [6, 7, 8, 9], [3])

print("The original tuple : ",tuple_1)
res = tuple(sum(tuple_1, []))

print("The flattened tuple : " ,res)

The original tuple :  ([5, 6], [6, 7, 8, 9], [3])
The flattened tuple :  (5, 6, 6, 7, 8, 9, 3)

Q8.Python â€“ Convert Nested Tuple to Custom Key Dictionary

In [4]:
Tuple_1 = ((6, 'omkar', 13), (2, 'shubham', 15), (9, 'kanishka', 12))

print("The original tuple is : ")
print(Tuple_1)

res = [{'key': sub[0], 'value': sub[1], 'id': sub[2]}
   for sub in Tuple_1]

print("The converted dictionary is : ",res)

The original tuple is :
((6, 'omkar', 13), (2, 'shubham', 15), (9, 'kanishka', 12))
The converted dictionary is :  [{'key': 6, 'value': 'omkar', 'id': 13}, {'key': 2, 'value': 'shubham', 'id': 15}, {'key': 9, 'value': 'kanishka', 'id': 12}]

Q9.Python Program for Binary Search (Recursive and Iterative)

In [5]:
#RECURSIVE
def binary_search(list_1, low, high, elem):
   if high >= low:
      mid = (high + low) // 2
      if list_1[mid] == elem:
         return mid
      elif list_1[mid] > elem:
         return binary_search(list_1, low, mid - 1, elem)
      else:
         return binary_search(list_1, mid + 1, high, elem)
   else:
      return -1
     
list_1 = [ 1, 9, 11, 21, 34, 54, 67, 90 ]
elem_to_search = 1
print("The list is")
print(list_1)

my_result = binary_search(list_1,0,len(list_1)-1,elem_to_search)

if my_result != -1:
   print("Element found at index ", str(my_result))
else:
   print("Element not found!")

The list is
[1, 9, 11, 21, 34, 54, 67, 90]
Element found at index  0

In [6]:
def binary_search(list_1, low, high, elem):

	if high >= low:

		mid = (high + low) // 2

		if list_1[mid] == elem:
			return mid

		elif list_1[mid] > x:
			return binary_search(list_1, low, mid - 1, elem)

		else:
			return binary_search(list_1, mid + 1, high, x)

	else:
		return -1

list_1 = [ 1, 9, 11, 21, 34, 54, 67, 90]
x = 1

result = binary_search(list_1, 0, len(list_1)-1, x)

if result != -1:
	print("Element is present at index", str(result))
else:
	print("Element is not present in array")

Element is present at index 0

Q10.python program for linear search

In [7]:
def linear_Search(list_1, n, key):  
       
    for i in range(0, n):  
        if (list_1[i] == key):  
            return i  
    return -1 
list_1 = [1 ,3, 5, 4, 7, 9]  
key = 7  
  
n = len(list_1)  
res = linear_Search(list_1, n, key)  
if(res == -1):  
    print("Element not found")  
else:  
    print("Element found at index: ", res)

Element found at index:  4

Q11.Python Program for Insertion Sort

In [8]:
def insertion_sort(list_1):  
  
  
        for i in range(1, len(list_1)):  
  
            value = list_1[i]  
  
            j = i - 1  
            while j >= 0 and value < list_1[j]:  
                list_1[j + 1] = list_1[j]  
                j -= 1  
            list_1[j + 1] = value  
        return list_1  
 
list_1 = [10, 5, 13, 8, 2]  
print("The unsorted list is:", list_1)  
  
print("The sorted list1 is:", insertion_sort(list_1))

The unsorted list is: [10, 5, 13, 8, 2]
The sorted list1 is: [2, 5, 8, 10, 13]