Q1.Python program to find difference between current time and given time

In [1]:
def time_difference(h1, m1, h2, m2):
    print("The current times: ", h1, ":", m1)
    t1 = h1 * 60 + m1
    print("The given times:", h2, ":", m2)
    t2 = h2 * 60 + m2
    if(t1 == t2):
        print("The difference: Both are Same !")
        return
    else:
        difference = t2 - t1
    h = (int(difference/60)) % 24
    m = difference % 60
    print("The difference: ", h, ":", m, "\n")
time_difference(4, 5, 6, 7)
time_difference(1, 1, 1, 1)

The current times:  4 : 5
The given times: 6 : 7
The difference:  2 : 2

The current times:  1 : 1
The given times: 1 : 1
The difference: Both are Same !

Q2.Python Program to Create a Lap Timer

In [3]:
import time
start=time.time()
last=start
num=1

print("Press ENTER to count lap timer.\nPress CTRL+C to stop")
try:
	while True:
		input()
		lap=round((time.time() - last), 2)
		total=round((time.time() - start), 2)
		print("Lap Numer "+str(num))
		print("Total Time taken: "+str(total))
		print("Lap Time: "+str(lap))			
		print("*"*20)
		last=time.time()
		num+=1

# Stop
except KeyboardInterrupt:
	print("Process Stopped")

Press ENTER to count lap timer.
Press CTRL+C to stop
Process Stopped

Q3.Convert date string to timestamp in Python

In [5]:
import time
import datetime


string = "20/01/2020"
print(time.mktime(datetime.datetime.strptime(string,"%d/%m/%Y").timetuple()))

1579478400.0

Q4.How to convert timestamp string to datetime object in Python?

In [6]:
from datetime import datetime
timestamp = 1545730073
dt_obj = datetime.fromtimestamp(1140825600)

print("date_time:",dt_obj)
print("type of dt:",type(dt_obj))

date_time: 2006-02-25 00:00:00
type of dt: <class 'datetime.datetime'>

Q5.Find number of times every day occurs in a Year

In [7]:
import datetime
import calendar

def day_occur_in_time(year):
	
	days = [ "Monday", "Tuesday", "Wednesday",
		"Thursday", "Friday", "Saturday",
		"Sunday" ]
	
	L = [52 for i in range(7)]

	pos = -1
	day = datetime.datetime(year, month = 1, day = 1).strftime("%A")
	for i in range(7):
		if day == days[i]:
			pos = i
			
	if calendar.isleap(year):
		L[pos] += 1
		L[(pos+1)%7] += 1
		
	else:
		L[pos] += 1
		
	
	for i in range(7):
		print(days[i], L[i])

year = 2019
day_occur_in_time(year)

Monday 52
Tuesday 53
Wednesday 52
Thursday 52
Friday 52
Saturday 52
Sunday 52

Q6.Python Program to Check if String Contain Only Defined Characters using Regex

In [9]:
import re
def match(str,pattern):
  if re.search(pattern,str):
    print("valid string")
  else:
    print("invalid string")

pattern = re.compile('[A-Z]+$')
match('ABCDE',pattern)
match('45cyy7',pattern)
match('9969',pattern)

valid string
invalid string
invalid string

Q7.Python program to Count Uppercase, Lowercase, special character and numeric values using
Regex

In [10]:
import re


string = input("Enter the string:")

uppercase_characters = re.findall(r"[A-Z]", string)
lowercase_characters = re.findall(r"[a-z]", string)
numerical_characters = re.findall(r"[0-9]", string)
special_characters = re.findall(r"[, .!?]", string)

print(len(uppercase_characters))
print(len(lowercase_characters))
print(len(numerical_characters))
print(len(special_characters))

Enter the string:gvhjguygj6^%^$6fhgfjg
0
15
2
0

Q8.Python Program to find the most occurring number in a string using Regex

In [12]:
import re
import collections

string= input("Enter the string: ")

number = re.findall(r"[0-9]", string)

counter = collections.Counter(number)
max_count = 0
max_value = None
for key in list(counter.keys()):
  if(counter[key]>max_count):
    max_count = counter[key]
    max_value = int(key)
print("max_value",max_value)

Enter the string: kjbdsfvbs8786465477777777shdbf
max_value 7

Q9.Python Regex to extract maximum numeric value from a string

In [ ]:
import re
string=input("Enter the numeric string: ")
number = re.findall('\d+', string)

number = map(int, number)
print("Max_value:",max(number))

Q10.Python Program to put spaces between words starting with capital letters using Regex

In [16]:
import re

string='HelloWelcomeToThePython'
words = re.findall('[A-Z][a-z]*', string)

print(' '.join((words)))

Hello Welcome To The Python