Q1. Reverse words in a given String in Python

In [ ]:
My_name="Omkar is name My"

s=My_name.split()[::-1]
A=" "
New_string =[]

for i in My_name:
    New_string.append(i)
print(A.join(s))

My name is Omkar

Q2. Ways to remove i’th character from string in Python

In [ ]:
string_1 ="HelloWorld"

print("The original string is",string_1)

New_string=string_1[:4] + string_1[5:]

print("The new string is ",New_string)

Q3. Python | Check if a Substring is Present in a Given String

In [ ]:
string="My name is omkar"
substring="omkar"

if substring in string:
    print("The substring is present ")

else:
    print("The substring is absent")

Q4.Python – Words Frequency in String Shorthands

In [ ]:
Text="he cannot come with you, he have to go to office"
frequency={key:Text.count(key) for key in Text.split()}

print("The words frquency in string is",frequency)

Q5. Python – Convert Snake case to Pascal case

In [ ]:
string ="Find_me_the_key"

New_string=string.replace("_"," ")
print("The old string is :",string)
print("The new string is:",New_string)

Q6. Find length of a string in python (4 ways)

In [ ]:
string ="Hello World"

#1st way
print(len(string))

11

In [5]:
#2nd way


string="Hello world"
count=0

for i in string:
  count=count+1
print(count)

11

In [8]:
#3rd way

string="Hello world"

count=0
while string[count:]:
  count=count+1
print(count)

11

In [9]:
#4th way

string="Hello world"
random_string="x"
A = random_string.join(string)
print(A.count(random_string)+1)

11

Q7. Python program to print even length words in a string

In [10]:
string="Hello welcome to the pyhton"
split_string =string.split()
for ch in split_string:
    if len(ch) % 2 == 0:
        print(ch)

to
pyhton

Q8. Python program to accept the strings which contains all vowels

In [1]:
string="Hello welcome to the python classes"
string = string.upper()
vowels= set("AEIOU")

for ch in string:
    if ch in vowels:
        vowels.remove(ch)
if len(vowels)==0:
    print('accepted')
else:
    print('not accepted')

not accepted

Q9.Python | Count the Number of matching characters in a pair of string

In [2]:
string_1 ="startwhereyouare"
string_2 ="usewhatyouhave"
set_1 = set(string_1)
set_2 = set(string_2)

matching_char = set_1.intersection(set_2)
print("The matching characters are :" , matching_char)
print("The count of matching charcters are:" ,len(matching_char))

The matching characters are : {'s', 'u', 'h', 'o', 'a', 'w', 'e', 't', 'y'}
The count of matching charcters are: 9

Q10. Remove all duplicates from a given string in Python

In [3]:
string ="Aabudghhdhdjdyy"
#Make the given string set, because set does not allow duplicate values
set_1 = set(string)
print(set_1)

{'A', 'g', 'u', 'j', 'h', 'a', 'd', 'b', 'y'}